.populares {
    padding: 3rem 2rem;
}

.populares__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem .5rem 1rem 0rem;
}

.populares__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
    "card-imagen"
    "card-base";
    grid-template-columns: 100%;
    width: calc(20% - 1rem);
    grid-template-rows: 173px auto;
    margin-right: 1rem;
}

.populares__card___imagen {
    grid-area: card-imagen;
    width: 100%;
    height: 100%;
}

.populares__card___base {
    grid-area: card-base;
    display: grid;
    grid-row-gap: .5rem;
    grid-template-areas: 
    "card-header"
    "card-descripcion";
    grid-template-rows: 50px auto;
    padding: .75rem;
}

.populares__card___descripcion {
    display: flex;
    flex-wrap: wrap;
    grid-area: card-descripcion;
    padding: 1rem 0;
}

.populares__contenido {
    display: flex;
    flex-wrap: wrap;
    grid-area: contenido;
    padding: 1rem 0;
}

.populares__card___titulo {
    grid-area: card-header;
    color: #333333;
    font-size: 1.5rem;

}

.populares__card___data {
    color: #808080;
    font-size: .9rem;

}

.populares__card___descripcion {
    line-height: 1.5;
    color: #333333;
    margin: 1rem 0;
    text-align: justify;
}

.populares__titulo {
    font-weight: 500;
}

.populares__icon {
    margin-right: .25rem;
}

.populares__card___header {
    border-bottom: 1px solid #dcdcdc;
}

.populares__boton {
    background: transparent;
    border: none;
    color: #333333;

}

.populares__card:last-child {
    margin-right: 0;
}

